@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  width: 100%;
  max-width: $layout-max-width + $layout-padding-desktop * 2;
  padding: $layout-padding-desktop;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $layout-padding-desktop;

  .topContainer {
    display: flex;
    justify-content: space-between;
    gap: $layout-padding-desktop;

    .title {
      font-size: $font-h4;
      font-weight: $font-bold;
      white-space: nowrap;
      display: flex;
      justify-content: center;

      .logo {
        display: inline-block;
        width: $font-h4;
        height: $font-h4;
        position: relative;
        margin-right: 5px;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          display: inline-block;
          width: $font-h4;
          height: $font-h4;
          background: url('/icons/logo.svg') no-repeat center;
          background-size: cover;
        }
      }

      strong {
        color: $color-primary;
      }
    }

    input.searchbar {
      width: 300px;
    }

    .buttons {
      display: flex;
      gap: 10px;
    }
  }

  .bottomContainer {
    display: flex;
    justify-content: flex-start;
    gap: $layout-padding-desktop;
  }

  @include mobile {
    padding: $layout-padding-mobile;
    gap: $layout-padding-mobile;

    .topContainer {
      gap: $layout-padding-mobile;
    }
    .bottomContainer {
      gap: $layout-padding-mobile;
    }
  }
}
