$layout-max-width: 1080px;
$layout-min-width: 720px;

$layout-padding-desktop: 30px;
$layout-padding-mobile: 15px;

// Colors
$color-primary-dark: #793e37;
$color-primary: #974e44;
$color-primary-light: #b55d51;
$color-primary-bg: #fff0ed;
$color-primary-bg-hover: #ffd0c5;

$gray-900: #4c4c4c;
$gray-800: #878787;
$gray-700: #a5a5a5;
$gray-600: #ebebeb;

$white: #ffffff;
$black: #000000;

// Font Sizes
$font-h1: 56px;
$font-h2: 48px;
$font-h3: 40px;
$font-h4: 32px;
$font-h5: 24px;
$font-h6: 20px;

$font-body-1: 24px;
$font-body-2: 18px;
$font-body-3: 16px;
$font-body-4: 14px;

// Font Weights
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
