@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/images/layout-bg.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
