@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/images/layout-bg.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  .container {
    flex: 1 0 auto;
    width: 100%;
    max-width: $layout-max-width + $layout-padding-desktop * 2;
    padding: $layout-padding-desktop;
    margin: 0 auto;

    @include mobile {
      max-width: $layout-max-width + $layout-padding-mobile * 2;
      padding: $layout-padding-mobile;

      .content {
        padding: $layout-padding-mobile 0;
      }
    }
  }
}
