@import '@/styles/variables';

.white {
  background-color: rgba(0, 0, 0, 0);
  color: $black;

  &:hover {
    background-color: $color-primary-bg;
  }

  &:active {
    background-color: $color-primary-bg-hover;
  }
}
