@import '@/styles/variables';
@import '@/styles/mixins';

.base {
  border: none;
  white-space: nowrap;
  background-color: $color-primary-light;
  color: $white;
  font-weight: $font-medium;
  line-height: 100%;

  &:hover {
    background-color: $color-primary;
  }

  &:active {
    background-color: $color-primary-dark;
  }
}

// Button Sizes
.size-small {
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
}

.size-medium {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: $font-bold;
}

.size-large {
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 7px;
  font-weight: $font-bold;
}
